<div class="row my-4">
  <div class="col-md-12">
    <h3>Aggiungi Account</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label>Titolo</label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          *ngIf="postForm.get('title').touched && !postForm.get('title').valid"
        >
          <div *ngIf="postForm.get('title').errors.required">
           Il titilo è obbligatorio
          </div>
          <div *ngIf="postForm.get('title').errors.minlength">
           Il titolo deve avere minino 6 caratteri
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Descrizione</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>

      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!postForm.valid"
        >
          Aggiungi account
        </button>
      </div>
    </form>
  </div>
</div>
