<div class="row">
  <div class="col-md-8">
    <h3>Lista degli account ({{ count | async }})</h3>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']"
        >Aggiungi account</a
      >
    </div>

    <table class="table table-striped" *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titolo</th>
          <th>Descrizione</th>
          <th>Azione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{ post.id }}</td>
          <td style="word-break: break-all">{{ post.title }}</td>
          <td style="word-break: break-all">{{ post.description }}</td>
          <td>
            <a href="" class="btn btn-primary" [routerLink]="['edit', post.id]"
              >Modifica </a
            >&nbsp;
            <button class="btn btn-danger" (click)="onDeletePost(post.id)">
              Cancella</button
            >&nbsp;
            <a href="" class="btn btn-info" [routerLink]="['details', post.id]"
              >Dettagli
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
